table {
  font-family: "Poppins", sans-serif;
}

.upper-menu {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

button {
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}

// Cores dos estados das Startups
.green-class {
  color: green;
}
.orange-class {
  color: orange;
}
.red-class {
  color: red;
}

.coral-class {
  color: coral;
}

.blue-class {
  color: dodgerblue;
}

.darkgreen-class {
  color: darkgreen;
}

.mat-progress-bar {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  display: flex;
  height: 12px;
  border-radius: 10px;
  width: 10em;
}

.progress {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  width: 10em;
}

span.is-image-cell .image {
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}
mat-form-field{

  display: none;

}