<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
    Registration Entrepreneur</h3>
<form>


    <div class="field">
        <div class="form">
            <label class="label" for="firstName">First Name</label>
            <input type="text" id="firstName" class="input" />
        </div>

        <div class="form">
            <input type="text" id="lastName" class="input" />
            <label class="form-label" for="lastName">Last Name</label>
        </div>
    </div>

    <div class="field">

        <div class="form">
            <input type="email" id="emailAddress" class="input" />
            <label class="form-label" for="emailAddress">Email</label>
        </div>

    </div>


    <div class="row">

        <div class="col-12">
            <label class="form-label select-label">Professional Profile</label>
            <select class="select form-control-lg">

                <option value="1" disabled>Business Sector</option>
                <option value="2">Subject 1</option>
                <option value="3">Subject 2</option>
                <option value="4">Subject 3</option>
            </select>

            <div class="form-outline">
                <input type="url" id="emailAddress" class="form-control form-control-lg" />
                <label class="form-label" for="url">Linkedin</label>
            </div>

        </div>

    </div>

    <div class="d-flex justify-content-center">
        <button mat-raised-button type="button"
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
    </div>

    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login
                here</u></a></p>

</form>