<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div fxLayout="row" class="login-outer-container">
    <div class="login-inner-container mat-elevation-z1">

        <!--volver a landing-page-->
        <a href="/landing-page" class="btn-landing"><i class="bi bi-house"></i></a>
        <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
        </div>
        <form class="form">
            <mat-form-field>
                <input matInput type="text" class="form-content" color="primary" #username id="username" name="username"
                    placeholder="{{ 'login.user' | translate }}" />

            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" class="form-content" color="primary" #password id="password"
                    name="password" placeholder="{{ 'login.password' | translate }}" />

            </mat-form-field>
            <button class="btn-login" mat-raised-button type="submit" color="primary"
                (click)="login(username.value, password.value, $event)" id="login-button">
                {{ "login.enter" | translate }}
            </button>

        </form>
    </div>
</div>