<mat-toolbar *ngIf="navBarView"  class="mat-elevation-z8 box">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
        <h2 class="logo"><a href="/main">Start</a><span class="up">Up</span>!</h2>

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <span class="title-bar">{{ pageTitle | translate }}</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
